<%- include('../includes/head') %>
</head>

<body>
  <%- include('../includes/navigation') %>

  <main>
    <% if (orders.length <= 0) { %>
      <h1>You haven't made any orders yet!</h1>
    <% } else { %>
      <ul>
        <% orders.forEach(order => { %>
          <li>
            <h1># <%= order.id %> (<%= order.createdAt %>)</h1>
            <ul>
              <% order.products.forEach(product => { %>
                <li><%= product.title %> (<%= product.orderItem.quantity %>)</li>
              <% }) %>
            </ul>
          </li>
        <% }) %>
      </ul>
    <% } %>
  </main>
<%- include('../includes/end') %>
