<%- include('../includes/head') %>
  <link rel="stylesheet" href="/css/product.css">
  <link rel="stylesheet" href="/css/forms.css">
</head>

<body>
  <%- include('../includes/navigation') %>

  <main>
    <form class="product-form" action="/admin/<%= editing ? 'edit-product' : 'add-product' %>" method="POST">
      <div class="form-control">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="<%= editing ? product.title : '' %>" autocomplete="off">
      </div>
      <div class="form-control">
        <label for="imageUrl">Image URL</label>
        <input type="text" name="imageUrl" id="imageUrl" value="<%= editing ? product.imageUrl : '' %>" autocomplete="off">
      </div>
      <div class="form-control">
        <label for="price">Price</label>
        <input type="number" name="price" id="price" step="0.01" value="<%= editing ? product.price : '' %>" autocomplete="off">
      </div>
      <div class="form-control">
        <label for="description">Description</label>
        <textarea name="description" id="description" rows="5"><%= editing ? product.description : '' %></textarea>
      </div>
      <% if (editing) { %>
        <input type="hidden" name="id" value="<%= product.id %>">
      <% } %>

      <button class="btn" type="submit"><%= editing ? 'Update Product' : 'Add Product' %></button>
    </form>
  </main>
<%- include('../includes/end') %>